
<mat-card class="auth-card">
    <mat-card-header>
        <h1 style="color: black;">Create Account</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your email..." [(ngModel)]="email">
        </mat-form-field>
        <div class="form-row">
            <mat-form-field class="half-width">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Enter your first name..." [(ngModel)]="firstName">
            </mat-form-field>
            <mat-form-field class="half-width">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Enter your last name..." [(ngModel)]="lastName">
            </mat-form-field>
        </div>
        <mat-form-field class="full-width">
            <mat-label>Phone</mat-label>
            <input type="tel" matInput placeholder="Enter your phone number..." [(ngModel)]="phone">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Address</mat-label>
            <input type="text" matInput placeholder="Enter your address..." [(ngModel)]="address">
        </mat-form-field>
        <div class="form-row">
            <mat-form-field class="half-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter your password..." [(ngModel)]="password">
            </mat-form-field>
            <mat-form-field class="half-width">
                <mat-label>Repeat Password</mat-label>
                <input type="password" matInput placeholder="Repeat your password..." [(ngModel)]="repeatPassword">
            </mat-form-field>
        </div>
        <mat-form-field class="full-width">
            <mat-label>Select Favorite Genre</mat-label>
            <mat-select [(ngModel)]="favoriteGenre">
                <mat-option *ngFor="let genre of genreList" [value]="genre">
                    {{genre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button type="button" mat-raised-button color="primary" (click)="doSignup()">
            <i class="fa-solid fa-user-plus"></i> Create Account
        </button>
        <a mat-button routerLink="/login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i> I already have an account
        </a>
    </mat-card-actions>
</mat-card>
